<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30" shutdownHook="disable">
    <Properties>
        <Property name="LAYOUT">%d %p %m [%c{1} %t]%n</Property>
    </Properties>

    <Appenders>
        <Routing name="MainAppender">
            <Routes pattern="">
                <Route>   <!--no value-->
                    <RollingRandomAccessFile name="MainAppender" fileName="logs/server.log"
                                             filePattern="logs/server-%d{yyyy-MM-dd}-%i.log.gz">
                        <PatternLayout pattern="${LAYOUT}" />
                        <Policies>
                            <TimeBasedTriggeringPolicy interval="1" modulate="true" />
                            <SizeBasedTriggeringPolicy size="1024 MB"/>
                        </Policies>
                        <DefaultRolloverStrategy max="30" min="1" fileIndex="1">
                            <Delete basePath="logs">
                                <IfFileName glob="server-*.log.gz"/>
                                <IfLastModified age="30d"/>
                            </Delete>
                        </DefaultRolloverStrategy>
                    </RollingRandomAccessFile>
                </Route>
            </Routes>
        </Routing>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="MainAppender"/>
        </Root>
    </Loggers>
</Configuration>
